:root{
  --primary-color: #f3994b;
  --screen-color: #888B76;
  --panel-color: #FFEBB8;
}

@font-face {
  font-family: 'digital-7regular';
  src: url('./fonts/digital-7-webfont.woff2') format('woff2'),
      url('./fonts/digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%;  /* 1 rem = 10px; 10px/16px * 100 */
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
  background-color: var(--primary-color);
  padding: 2.5rem 0;
}

main{
  display: grid;
  grid-template-areas: 'a b c';
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 37.5em){
  main{
    grid-template-areas: 'b' 
                          'a' 
                          'c'
    ;
    gap: 3rem 0;
    grid-template-columns: 0;
    justify-content: center;
    align-content: center;
  }
}

.creator-box--1{
  grid-area: a;
}

.creator-box--2{
  grid-area: c;
}

.creator__link{
  color: black;
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 37.5em){
  .creator__link{
    flex-direction: row;
  }
}

.creator__icon{
  width: 3rem;
}

.creator__name{
  transition: all .3s ;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

@media only screen and (max-width: 37.5em){
  .creator__name{
    margin-top: 0;
    margin-left: 1rem;
    writing-mode: horizontal-tb;
  }
}

.creator__name:hover{
  transform: translate(0, 1rem);
}

@media only screen and (max-width: 37.5em){
  .creator__name:hover{
    transform: translate(1rem, 0);
  }
}

.calculator{
  background-color: #282828;
  grid-area: b;
  width: 30rem;
  padding: 1rem 2rem 4.5rem ;
  color: whitesmoke;
  max-height: 70rem;
}

.time{
  display: flex;
  transition: all .1s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.time-colon{
  margin: 0 .3rem;
  font-weight: bold;
  animation: blink 1s infinite;
  animation-timing-function: ease-in;
}

.panel-box{
  text-align: right;
  margin: 6rem 0 2rem 0;
}

.panel{
  background-color: var(--panel-color);
  border-radius: 3px;
  padding: 0.5rem 4rem;
}

.screen{
  background-color: var(--screen-color);
  border-radius: 3px;
  color: black;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2.5rem;
  font-family: 'digital-7regular';
  margin-bottom: 5rem;
  min-height: 10rem;
  overflow-x: hidden;
  padding: 1rem;
}

.inputs{
  display: grid;
  gap: 0.2rem;
  grid-template-areas: 'a b c'
                        'd d d';
}

.inputs__item{
  max-width: 100%;
}

.total{
  grid-area: d;
  justify-self: flex-end;
}

.buttons-container{
  display: grid;
  gap: 2.5rem 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-template-areas: 'a a c d'
                        'e f g h'
                        'i j k l'
                        'm n o p'
                        'q q r p';
  text-align: center;
}

.buttons-container > *{
  cursor: pointer;
  padding: 0.5rem 0.4rem;
  transition: all 0.1s;
  padding: 1rem 0;
  border-radius: 0px;
  background: #252222;
  box-shadow:  5px 5px 20px #0f0e0e,
                -5px -5px 20px #3b3636;
}

.buttons-container > *:active{
  transform: translateY(4px);
}

.divide, .multiply,.plus,.minus,.equals{
  color: var(--primary-color);
}

.clear{
  grid-area: a;
}

.equals{
  grid-area: p;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;
}

.zero{
  grid-area: q;
  justify-self: stretch;
}
